{% comment %} file template berisi tag yang menyertakan CSS dan head yang akan disertakan di base.html {% endcomment %}


<meta charset="utf-8">
<meta name="author" content="Sumon Rahman">
<meta name="description" content="">
<meta name="keywords" content="HTML,CSS,XML,JavaScript">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>QAS WIKIPEDIA</title>

<!-- Bootstrap Core CSS -->
{% comment %} <link href="/static/bootstrap4/css/bootstrap.min.css" rel="stylesheet"> {% endcomment %}

<!-- Place favicon.ico in the root directory -->
<link rel="apple-touch-icon" href="/static/appy/appy/images/apple-touch-icon.png">
<link rel="shortcut icon" type="image/ico" href="/static/appy/appy/images/favicon.ico" />
<!-- Plugin-CSS -->
<link rel="stylesheet" href="/static/appy/appy/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/appy/appy/css/owl.carousel.min.css">
<link rel="stylesheet" href="/static/appy/appy/css/linearicons.css">
<link rel="stylesheet" href="/static/appy/appy/css/magnific-popup.css">
<link rel="stylesheet" href="/static/appy/appy/css/animate.css">
<!-- Main-Stylesheets -->
<link rel="stylesheet" href="/static/appy/appy/css/normalize.css">
<link rel="stylesheet" href="/static/appy/appy/style.css">
<link rel="stylesheet" href="/static/appy/appy/css/responsive.css">
