{% comment %} adalah file template berisi tag yang menyertakan Javascript yang akan disertakan di base.html {% endcomment %}

<!-- Bootstrap Core JavaScript -->
{% comment %} <script src="/static/bootstrap4/js/bootstrap.min.js"></script>
<script src="/static/bootstrap4/js/bootstrap.bundle.min.js"></script>
<script src="/static/jquery-3.3.1.slim.min.js"></script>
<script src="/static/jquery-3.3.1.min.js"></script>
<script src="/static/jquery.min.js"></script>
<script src="/static/popper.min.js"></script> {% endcomment %}


<!--Vendor-JS-->
<script src="/static/appy/appy/js/vendor/jquery-1.12.4.min.js"></script>
<script src="/static/appy/appy/js/vendor/jquery-ui.js"></script>
<script src="/static/appy/appy/js/vendor/bootstrap.min.js"></script>
<!--Plugin-JS-->
<script src="/static/appy/appy/js/owl.carousel.min.js"></script>
<script src="/static/appy/appy/js/contact-form.js"></script>
<script src="/static/appy/appy/js/ajaxchimp.js"></script>
<script src="/static/appy/appy/js/scrollUp.min.js"></script>
<script src="/static/appy/appy/js/magnific-popup.min.js"></script>
<script src="/static/appy/appy/js/wow.min.js"></script>
<!--Main-active-JS-->
<script src="/static/appy/appy/js/main.js"></script>

<script src="/static/appy/appy/js/vendor/modernizr-2.8.3.min.js"></script>